<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="./styles/login.css"> -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}" >
</head>

<body>
    <div>
        <div class="row loginContainer ">
            <div class="col-md col1 ">
                <center>
                    <img class="logo" src="/static/logo.svg" alt="logo">
                    <h5>Welcome To</h5>
                    <h5 style="color: #00ADD7;">Hope Foundation's</h5>
                    <h4>INTERNATIONAL INSTITUTE<br>
                        OF<br>
                        INFORMATION TECHNOLOGY
                    </h4>
                    <h6>HINJAWADI, PUNE</h6>
                    <a href="https://www.isquareit.edu.in/">
                        <p>www.isquareit.edu.in</p>
                    </a>
                </center>

            </div>
            <div class="col-md col2 ">
                <h2>Sign In as</h2>
                <form action='{{url_for("login")}}' method="post" >
                    <input type="email" class="form-control inputBox " placeholder="Email" id="email" name="fEmail" >
                    <input type="password" class="form-control inputBox " placeholder="Password" id="pwd" name="fPassword" >
                    <center>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </center>

                </form>
            </div>
        </div>
    </div>
</body>

</html>