body {
    background-color: #D3D6DF;
    overflow-x: hidden;
}

.col1 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 20px;
}

.col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.uploadedImage{
    width: 300px;
    margin-bottom: 20px;
}
